<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>HireX</title>
</head>

<body>
    <header id="pageHeader" class="container">
        <div class="flex-center-align">
            <a href="/index.html">
                <img id="navImg" src="assets/HireX_black.png" alt="this is img" width="100" height="40">
            </a>
        </div>
        <nav>
            <ul id="nav-items">
                <li class="nav-item"><a href="/works">Works</a> </li>
                <li class="nav-item"><a href="/aboutus">About Us </a>
                <li class="nav-item"><a href="/blogs">Blogs </a>
                <li class="nav-item"><a href="/faqs">FAQs</a></li>
                <li class="nav-item"><a href="/contactus">FAQs</a></li>
                <li id="login"><a href="/hiring" class="m-left-12">We're Hiring
                        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H14M14 7L8 1M14 7L8 12.5" stroke="white" stroke-width="1.5"
                                stroke-linejoin="round" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="titleText">
                            <p>WELCOME TO HIREX<img src="assets/Star 1.png" alt="" width="30" height="30"></p>
                            <h2 class="font-size-large">Award Winnig Digital Agency.</h2>
                            <p>Digital Agency offering unique solutions to create digital presence and increase your
                                sales.</p>
                            <div class="flex-row  br-radius bx-shadow">
                                <input type="email" name="email" id="" class="br-black"
                                    placeholder="Your email address">
                                <button class="btn bg-yellow br-black"> Request access</button>
                            </div>
                            <div class="bg-yellow2 br-radius m-top-20 p-y-30">
                                <p>open account and get 5 boxes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="outerBox">
                            <div class="innerBox left">
                                <div class="innerImg1">
                                    <img src="assets/image 2 (Traced).png" alt="">

                                </div>
                                <div class="innerBoxText1">

                                    <p class="font-size-meduim">Web Design</p>
                                </div>
                            </div>
                            <div class="innerBox mid">
                                <div class="innerImg2">
                                    <img src="assets/image 6 (Traced).png" alt="" width="45" height="45">

                                </div>
                                <div class="innerBoxText2">

                                    <p class="font-size-meduim">Social Media</p>
                                </div>
                            </div>
                            <div class="innerBox right">
                                <div class="innerBoxText3">

                                    <p class="font-size-meduim">UIX Desing</p>
                                </div>
                                <div class="innerImg3">
                                    <img src="assets/image 1 (Traced).png" alt="" width="45" height="45">

                                </div>
                            </div>
                            <div class="innerBox right2">
                                <div class="innerImg4">
                                    <img src="assets/Group 6.png" alt="" width="80" height="80">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section>
            <div class="container">
                <div class=" bg-black w-100">


                    <marquee behavior="" direction="">
                        <div class="row m-0">
                            <div class="col-marque">
                                <div class="icon">
                                    <p class="font-size-verysmall">GET ACCESS NOW!</p>
                                    <img src="assets/image-fBLQvAFN1-transformed 1.png" alt="" width="50" height="50">
                                    <img src="assets/Line 4.png" alt="" width="4">
                                </div>
                            </div>
                            <div class="col-marque">
                                <div class="icon">
                                    <p class="font-size-verysmall">GET ACCESS NOW!</p>
                                    <img src="assets/image-fBLQvAFN1-transformed 1.png" alt="" width="50" height="50">
                                    <img src="assets/Line 4.png" alt="" width="4">
                                </div>
                            </div>
                            <div class="col-marque">
                                <div class="icon">
                                    <p class="font-size-verysmall">GET ACCESS NOW!</p>
                                    <img src="assets/image-fBLQvAFN1-transformed 1.png" alt="" width="50" height="50">
                                    <img src="assets/Line 4.png" alt="" width="4">
                                </div>
                            </div>
                            <div class="col-marque">
                                <div class="icon">
                                    <p class="font-size-verysmall">GET ACCESS NOW!</p>
                                    <img src="assets/image-fBLQvAFN1-transformed 1.png" alt="" width="50" height="50">
                                    <img src="assets/Line 4.png" alt="" width="4">
                                </div>
                            </div>
                        </div>
                    </marquee>
                </div>
            </div>
        </section>

        <section>
            <div class="container2">
                <div class="textGroup">
                    <div class="flex flex-center-align m-top-20">

                        <span id="tipTitle " class="roundedTag bg-orange">Services</span>
                    </div>
                    <h2 class="font-size-large">How Hirex. Work</h2>
                    <p id="tagline">The awesome people who makes all this possible</p>

                </div>
                <div class="row justify-center">
                    <div class="col-3">
                        <div class="card">
                            <div class="textGroup">

                                <p class="font-size-small">START HERE</p>
                                <p class="font-size-small ">Who we are & what we do</p>
                            </div>
                            <div class="icon">
                                <img src="assets/Designer _Flatline 1.png" alt="">

                            </div>
                            <div class="btn-wrapper">
                                <button class="btn bg-green"> START HERE <svg width="15" height="14" viewBox="0 0 15 14"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H14M14 7L8 1M14 7L8 12.5" stroke="white" stroke-width="1.5"
                                            stroke-linejoin="round" />
                                    </svg>
                                </button>


                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <div class="textGroup">

                                <p class="font-size-small">CUSTOM DESIGN</p>
                                <p class="font-size-small">We'll design your projects</p>
                            </div>
                            <div class="icon">
                                <img src="assets/Notifications_Flatline 1.png" alt="">

                            </div>
                            <div class="btn-wrapper">
                                <button class="btn bg-yellow"> START HERE <svg width="15" height="14"
                                        viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H14M14 7L8 1M14 7L8 12.5" stroke="black" stroke-width="1.5"
                                            stroke-linejoin="round" />
                                    </svg></button>


                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card">
                            <div class="textGroup">

                                <p class="font-size-small">CONTACT US</p>
                                <p class="font-size-small ">Drop us your
                                    message!</p>
                            </div>
                            <div class="icon">
                                <img src="assets/Fortnite_Two Color 1.png" alt="" height="228px">

                            </div>
                            <div class="btn-wrapper">
                                <button class="btn bg-orange"> START HERE <svg width="15" height="14"
                                        viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H14M14 7L8 1M14 7L8 12.5" stroke="black" stroke-width="1.5"
                                            stroke-linejoin="round" />
                                    </svg></button>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container2">
                <div class="textGroup">
                    <span id="tipTitle" class="roundedTag bg-blue">Works</span>
                    <h2 class="font-size-large">Find our latetest works</h2>
                    <p id="tagline">The awesome people who makes all this possible</p>

                </div>
                <div class="row justify-center">
                    <div class="col-2">
                        <div>

                            <div class="icon">
                                <img src="assets/Rectangle 13.png" alt="" width="100%">

                            </div>
                            <div class="p-y-30">


                                <div class="roundedTag  br-black">
                                    <p class="color-black m-0 font-size-verysmall"> Web design </p>
                                </div>
                                <div>
                                    <p>Website Design For Digital Agency</p>
                                    <p id="tipTitle">Build a unique Website with HireX Template</p>
                                    <div class="flex-row">

                                        <a href="/learn" class="readMore">Read more</a>
                                        <!DOCTYPE svg
                                            PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

                                        <svg class="arrow" width="25px" height="25px" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">

                                            <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round" />

                                            <g id="SVGRepo_iconCarrier">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z"
                                                    fill="#729fcf" />
                                            </g>

                                        </svg>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <div>

                            <div class="icon">
                                <img src="assets/Rectangle 13-1.png" alt="" width="100%">

                            </div>

                            <div class="p-y-30">


                                <div>
                                    <button class="btn br-radius"> 3D design </button>
                                </div>
                                <div>
                                    <p>Realistic 3d Model of Living Room</p>
                                    <p id="tipTitle">Build a unique Website with HireX Template</p>
                                    <div class="flex-row">


                                        <a href="/learn" class="readMore">Read more</a>
                                        <!DOCTYPE svg
                                            PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

                                        <svg class="arrow" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">

                                            <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round" />

                                            <g id="SVGRepo_iconCarrier">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z"
                                                    fill="#729fcf" />
                                            </g>

                                        </svg>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        <button class="btn bg-yellow"> START HERE <svg width="15" height="14"
                            viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7H14M14 7L8 1M14 7L8 12.5" stroke="black" stroke-width="1.5"
                                stroke-linejoin="round" />
                        </svg></button>
                    </div>

                </div>
            </div>
        </section>

        <section>
            <div class="container2">
                <div class="textGroup">
                    <h2 class="font-size-large">Plans & Pricing</h2>
                    <p class="font-size-small">The awesome people who makes all this possible</p>

                </div>
                <div class="row justify-center">
                    <div class="col-3">
                        <div class="pcard br-radius">
                            <div class="textGroup">

                                <p class="font-size-small">FREE</p>
                                <p class="font-size-large "><b>$0</b><span class="font-size-small">/MONTH</span></p>
                                <p>Start free while you learn more about our services</p>
                            </div>
                            <hr>
                            <div>

                                <p><svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7.5L5.5 11.5L16 1" stroke="#5D5C5B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Free forever get the basic essentials</p>
                                <p><svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7.5L5.5 11.5L16 1" stroke="#5D5C5B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Advanced security and performance</p>
                                <p><svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7.5L5.5 11.5L16 1" stroke="#5D5C5B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Unlimited unhosted sites</p>
                                <p><svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7.5L5.5 11.5L16 1" stroke="#5D5C5B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Live support</p>
                            </div>
                            <div class="btn-wrapper">
                                <button class="btn bg-yellow br-radius w-100">GET STARTED</button>


                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="pcard br-radius">
                            <div class="textGroup">

                                <p class="font-size-small">BASIC</p>
                                <p class="font-size-large "><b>$19</b><span class="font-size-small">/MONTH</span></p>
                                <p>Get powerful tools to make your business grow</p>
                            </div>
                            <hr>
                            <div>

                                <p><svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7.5L5.5 11.5L16 1" stroke="#5D5C5B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Free forever get the basic essentials</p>
                                <p><svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7.5L5.5 11.5L16 1" stroke="#5D5C5B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Advanced security and performance</p>
                                <p><svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7.5L5.5 11.5L16 1" stroke="#5D5C5B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Unlimited unhosted sites</p>
                                <p><svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7.5L5.5 11.5L16 1" stroke="#5D5C5B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Live support</p>
                            </div>
                            <div class="btn-wrapper">
                                <button class="btn bg-orange br-radius w-100">GET STARTED </button>


                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="pcard br-radius">
                            <div class="textGroup">

                                <p class="font-size-small">PRO</p>
                                <p class="font-size-large "><b>$99</b><span class="font-size-small">/MONTH</span></p>
                                <p>Take your business to the next level with our tools</p>
                            </div>
                            <hr>
                            <div>

                                <p><svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7.5L5.5 11.5L16 1" stroke="#5D5C5B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Free forever get the basic essentials</p>
                                <p><svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7.5L5.5 11.5L16 1" stroke="#5D5C5B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Advanced security and performance</p>
                                <p><svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7.5L5.5 11.5L16 1" stroke="#5D5C5B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Unlimited unhosted sites</p>
                                <p><svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 7.5L5.5 11.5L16 1" stroke="#5D5C5B" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Live support</p>
                            </div>
                            <div class="btn-wrapper">
                                <button class="btn bg-green br-radius w-100"> GET STARTED</button>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="bg-green">
            <div class="container">
                <div>
                    <div class="row ">
                        <div class="flex-row testimonials" id="1" data-id="1">


                            <div class="col-2">
                                <div class="leftArrow">

                                    <img src="assets/arrow-left-2.png" alt="" width="30" height="30" onclick="Leftmove()">
                                </div>
                                <div class="icon">
                                    <img src="assets/testimonials-img.png" alt="" class="testimonialImg" width="300">

                                </div>

                            </div>

                            <div class="col-2">
                                <div class="testimonialTextBox">

                                    <div>
                                        <p class="font-size-meduim">"We select to practice in Minerva since it is both
                                            useful, and our clients basically adore it! It has stood the test of time
                                            and
                                            proceeds 1"</p>


                                    </div>
                                    <p class="font-size-small">Abel Carden is a TikTok personality and lip-sync content
                                        creator who has built a fanbase of more than 3.2 million followers on the
                                        platform.
                                    </p>
                                </div>
                                <div class="rightArrow">

                                    <img src="assets/arrow-right-2.png" alt="" width="26" height="26" id="rightArr" onclick="Rightmove()" >
                                </div>
                            </div>
                        </div>
                        <div class="flex-row testimonials" id="2" data-id="2">


                            <div class="col-2">
                                <div class="leftArrow">

                                    <img src="assets/arrow-left-2.png" alt="" width="30" height="30"  onclick="Leftmove()">>
                                </div>
                                <div class="icon">
                                    <img src="assets/testimonials-img.png" alt="" class="testimonialImg" width="300">

                                </div>

                            </div>

                            <div class="col-2">
                                <div class="testimonialTextBox">

                                    <div>
                                        <p class="font-size-meduim">"We select to practice in Minerva since it is both
                                            useful, and our clients basically adore it! It has stood the test of time
                                            and
                                            proceeds 2"</p>


                                    </div>
                                    <p class="font-size-small">Abel Carden is a TikTok personality and lip-sync content
                                        creator who has built a fanbase of more than 3.2 million followers on the
                                        platform.
                                    </p>
                                </div>
                                <div class="rightArrow">

                                    <img src="assets/arrow-right-2.png" alt="" width="26" height="26" id="rightArr" onclick="Rightmove()" >
                                </div>
                            </div>
                        </div>
                        <div class="flex-row testimonials" id="3" data-id="3">


                            <div class="col-2">
                                <div class="leftArrow">

                                    <img src="assets/arrow-left-2.png" alt="" width="30" height="30"  onclick="Leftmove()">>
                                </div>
                                <div class="icon">
                                    <img src="assets/testimonials-img.png" alt="" class="testimonialImg" width="300">

                                </div>

                            </div>

                            <div class="col-2">
                                <div class="testimonialTextBox">

                                    <div>
                                        <p class="font-size-meduim">"We select to practice in Minerva since it is both
                                            useful, and our clients basically adore it! It has stood the test of time
                                            and
                                            proceeds 3"</p>


                                    </div>
                                    <p class="font-size-small">Abel Carden is a TikTok personality and lip-sync content
                                        creator who has built a fanbase of more than 3.2 million followers on the
                                        platform.
                                    </p>
                                </div>
                                <div class="rightArrow">

                                    <img src="assets/arrow-right-2.png" alt="" width="26" height="26" id="rightArr" onclick="Rightmove()" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container2">
                <div>
                    <div>
                        <p id="tipTitle" class="roundedTag bg-pink">Blogs</p>
                        <h2 class="font-size-meduim">Stay updated</h2>


                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div>

                                <div class="icon">
                                    <img src="assets/Rectangle 19.png" alt="" width="100%">

                                </div>
                                <div>
                                    <button class="btn br-radius"> Web design </button>
                                </div>
                                <div>
                                    <p>Website Design For Digital Agency</p>
                                    <p id="tipTitle">Build a unique Website with HireX Template</p>
                                    <a href="/learn" class="readMore">Read more</a>
                                    <!DOCTYPE svg
                                        PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

                                    <svg class="arrow" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">

                                        <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                                        <g id="SVGRepo_iconCarrier">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z"
                                                fill="#729fcf" />
                                        </g>

                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="col-2">
                            <div>

                                <div class="icon">
                                    <img src="assets/Rectangle 20.png" alt="" width="100%">

                                </div>
                                <div>
                                    <button class="btn br-radius"> Web design </button>
                                </div>
                                <div>
                                    <p>Introducing the Non-Code Webflow Guide</p>
                                    <p id="tipTitle">Build a unique Website with HireX Template</p>
                                    <a href="/learn" class="readMore">Read more</a>
                                    <!DOCTYPE svg
                                        PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

                                    <svg class="arrow" width="20px" height="20px" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">

                                        <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                                        <g id="SVGRepo_iconCarrier">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z"
                                                fill="#729fcf" />
                                        </g>

                                    </svg>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="bg-boldYellow">
            <div class="container ">
                <div class="row ">
                    <div class="col-2">
                        <div>
                            <div class="formHeading">
                                <p class="font-size-meduim"> Get our latests news & updates</p>

                            </div>
                            <div class="formInputs">

                                <form action="/" method="post">
                                    <div>
                                        <label for="name">NAME</label>
                                        <input type="text" class="bg-boldYellow" name="" id="">
                                    </div>
                                    <div>
                                        <label for="email">EMAIL</label>
                                        <input type="text" class="bg-boldYellow" name="" id="">
                                    </div>
                                    <div id="subscribe">
                                        <label for="subscribe">SUBSCRIBE</label>
                                        <svg width="20" height="20" viewBox="0 0 15 14" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 7H14M14 7L8 1M14 7L8 12.5" stroke="#060606" stroke-width="1.5"
                                                stroke-linejoin="round" />
                                        </svg>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="formDesc">
                            <p>We select to practice in Minerva since it is both useful and commonsense, and our clients
                                basically adore it</p>
                            <button class="btn br-radius-20 bg-boldYellow bookBtn"> Book a Call </button>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section>
            <div class="bg-black">
                <marquee behavior="" direction="">
                    <div class="row bg-black m-0">
                        <div class="col-marque">
                            <div class="icon">

                                <p>THANK YOU FOR YOUR VISIT</p>
                                <div class="icon flex-center-align">

                                    <img src="assets/Line 4.png" alt="" width="50" height="3">
                                </div>
                            </div>
                        </div>
                        <div class="col-marque">
                            <div class="icon">
                                <p>THANK YOU FOR YOUR VISIT</p>
                                <div class="icon flex-center-align">

                                    <img src="assets/Group 59.png" alt="" width="30" height="30">
                                </div>
                            </div>
                        </div>
                        <div class="col-marque">
                            <div class="icon">
                                <p>THANK YOU FOR YOUR VISIT</p>
                                <div class="icon flex-center-align">

                                    <img src="assets/Line 4.png" alt="" width="50" height="3">
                                </div>
                            </div>
                        </div>
                        <div class="col-marque">
                            <div class="icon">
                                <p>THANK YOU FOR YOUR VISIT</p>
                                <div class="icon flex-center-align">

                                    <img src="assets/Group 59.png" alt="" width="30" height="30">
                                </div>
                            </div>
                        </div>
                    </div>
                </marquee>
            </div>
        </section>
    </main>
    <footer>
        <div class="container2">

            <!-- <div class="f-inner-container"> -->

            <!-- <div class="row"> -->
            <!-- <div class="col-2"> -->
            <div class="card2">
                <div class="footer-logo">
                    <img src="assets/HireX_black.png" alt="">
                </div>
                <hr>

            </div>

            <!-- </div> -->
            <!-- </div> -->

            <div class="row justify-space-between ">


                <div class="col-4">
                    <div class="card">
                        <p class="font-size-verysmall">Products</p>
                        <ul id="f-items">
                            <li class="f-item"><a href="/about">Platform</a> </li>
                            <li class="f-item"><a href="/blog"> Store Overview
                                </a>
                            <li class="f-item"><a href="/leadership">Email Reports
                                </a>
                            <li class="f-item"><a href="/careers">Portfolio</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <p class="font-size-verysmall">Resources</p>
                        <ul id="f-items">
                            <li class="f-item"><a href="/about">Case Studies
                                </a> </li>
                            <li class="f-item"><a href="/blog"> Product Guides
                                </a>
                            <li class="f-item"><a href="/leadership">Reports
                                </a>
                            <li class="f-item"><a href="/careers">Blog
                                </a></li>
                            <li class="f-item"><a href="/careers">FAQ
                                </a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <p class="font-size-verysmall">Company</p>
                        <ul id="f-items">
                            <li class="f-item"><a href="/careers">Careers</a></li>
                            <li class="f-item"><a href="/about">Contact Sales
                                </a> </li>
                            <li class="f-item"><a href="/blog"> Contact Support </a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <p class="font-size-verysmall">Partners</p>
                        <ul id="f-items">
                            <li class="f-item"><a href="/careers" class="font-bold ">Partner With Us</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <p class="font-size-verysmall">Terms and Conditions
                Privacy Policy</p>
            <!-- </div> -->
        </div>
    </footer>
    <script src="index.js"></script>
</body>

</html>