<div class="delimitedSearch">
    <p>^ : First name</p>
    <p>_ : Last name</p>
    <p>$ : email</p>
    <p>{ : student_mobile_number</p>
    <%
    let q;
    try{
        q=query
    }
    catch(error){
        q=""
    }%>
    <form action="/delimeterSearch/delimitedSearch" method="post">
        <span>Delimited Search</span>
        <input type="text" name="searchq" placeholder="Enter query to search...." value="<%=query%>">
        <input type="submit" value="search">
    </form>
</div>