<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Students</title>
    <style>
        body {
            margin: 0 auto;
            max-width: 1200px;
            background-color: #02e7ff;
        }

        table {
            margin: 0 auto;
        }

        table,
        th,
        td {
            border: 1px solid black;
            background-color: skyblue;
            border-collapse: collapse;
        }

        td {
            padding: 4px;
        }

        div {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
        }

        h1,h2 {
            text-align: center;
        }

        h3 {
            text-align: right;
        }

        #pageCnt {
            text-align: center;
            width: 70px;
            font-size: 30px;
        }

        .pagination {
            margin: 12px;
        }

        .start,
        .end {
            padding: 12px;
            margin: 0 12px;
        }

        .leftBtn,
        .rightBtn {
            padding: 12px;
        }
    </style>
</head>

<body>

    <h1>Rushikesh Falak - 24DEV059</h1>
    <h2>Table with 200 student data</h2>
<a href="/studentsExamAttendenceReport/students">Back to Attendence Report</a>
   
    <h3>Total no of Records: <%=total%>
            </h2>
                <div>
                    <table id="tableId">
                        <tr>
                            <th colspan="2"></th>
                            <th colspan="2">Prelim</th>
                            <th colspan="2">Terminal</th>
                            <th colspan="2">Final</th>
                            
                        </tr>
                        <% for(let val of data) {%>
                            <%const fieldKeys=Object.keys(val); %>
                                <tr>

                                    <%for(var i=0;i<fieldKeys.length; i++) {%>
                                        <th>
                                            <%=fieldKeys[i]%>
                                        </th>
                                        <% } %>
                                        <th>Detail Report</th>
                                </tr>
                                <% break; %>
                                <% } %>
    
                        <% for(let key of data) {%>
                            <%const fieldValues=Object.values(key); %>
                                <tr>

                                    <%for(var i=0;i<fieldValues.length; i++) {%>
                                        <td>
                                            <%=fieldValues[i]%>
                                        </td>
                                        <% } %>
                                        <td><a href="/studentsExamAttendenceReport/reportCard/<%=fieldValues[0]%>">View Report</a></td>

                                </tr>
                                <% } %>
                    </table>

                </div>

</body>

</html>